[submodule "proj-pickr"]
	path = proj-pickr
	url = https://github.com/jackwthake/proj-pickr.git
[submodule "bg/src/third-party/SDL"]
	path = bg/src/third-party/SDL
	url = https://github.com/libsdl-org/SDL.git
